<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="LMS API Automation Suite">

    <!-- Listeners -->
    <listeners>
        <listener class-name="com.report.ExtentListener"/>
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
    </listeners>

    <!-- Test Group -->
    <test name="LMS API Tests" thread-count="5">

        <classes>
            <class name="com.test.LoginTest"/>
            <class name="com.test.CheckApi"/>
            <class name="com.test.GetInstitute"/>
            <class name="com.test.GetRole"/>
            <class name="com.test.GetCourse"/>
            <class name="com.test.CreateNote"/>
            <class name="com.test.GetAllNotes"/>
            <class name="com.test.GetNoteById"/>
            <class name="com.test.UpdateNote"/>
            <class name="com.test.TogglePin"/>
            <class name="com.test.DeleteNote"/>

        </classes>

    </test>

</suite>